/*@import "./vars";*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --text-primary: #212121;
  --text-secondary: #757575;
  --accent: #2196f3;
  --logo-primary: #000000;
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
  --background-section: #f5f4fa;
  --background-doing: rgba(47, 48, 58, 0.8);
  --background-social-footer: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --modal-icon-border: rgba(0, 0, 0, 0.1);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --border-form: rgba(255, 255, 255, 0.3);
  --modal-placeholder-text: rgba(117, 117, 117, 0.5);
}

/*--------------------Reset styles--------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;

  border: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
body {
  background-color: var(--background-primary);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

/*--------------------HEADER--------------------*/

.header-section {
  border-bottom: 1px solid var(--border-color);
}
.header-items {
  display: flex;
  align-items: center;
}
.logo-items {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent);
}
.logo-studio-header {
  color: var(--logo-primary);
}
.header-section .contact-list {
  display: flex;
  margin-left: auto;
}
.navigation {
  margin-left: 93px;
}
.nav-list {
  display: flex;
}
.nav-item {
  position: relative;
}
.nav-link {
  color: var(--text-primary);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color 250ms linear;

  display: block;
  padding: 32px 0;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: var(--text-secondary);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent);
}
.contanct-icon {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

/*--------------------HERO--------------------*/

.hero {
  background-color: rgba(196, 196, 196, 1);
  padding: 200px 0;
  text-align: center;

  width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--background-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.primary-button {
  color: var(--background-primary);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  min-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------FEATURES--------------------*/

.main-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 50px;
}
.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.feature-item {
  width: 270px;
}

.feature-item-block {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: var(--background-section);

  margin-bottom: 30px;
  border-radius: 4px;
}
.item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;

  margin-bottom: 10px;
}
.item-discription {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.7;
}

/*--------------------DOIN--------------------*/

.doing-img {
  display: flex;
  justify-content: space-between;
}
.doing-img-item {
  position: relative;
}
.doing-block {
  display: flex;
  justify-content: center;
  padding: 27px 0;
  background-color: var(--background-doing);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.doing-title {
  color: var(--background-primary);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*--------------------TEAM--------------------*/

.team {
  background-color: var(--background-section);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--background-primary);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  padding: 30px 0;
}
.team-member {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.position-member {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  margin-top: 10px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-primary);
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent);
  color: var(--background-primary);
}
.team-social-icon {
  fill: currentColor;
}

/*--------------------CUSTOMERS--------------------*/

.customers-list {
  display: flex;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  background-color: var(--background-primary);
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent);
  color: var(--accent);
}
.customers-icon {
  fill: currentColor;
}

/*--------------------FOOTER--------------------*/

.footer-section {
  background-color: var(--background-secondary);

  padding: 60px 0;

  display: flex;
  align-items: center;
}
.footer-section .container {
  display: flex;
}
.logo-studio-footer {
  color: var(--background-primary);
}
address {
  margin-top: 20px;
  width: 231px;
}
.footer-contact-item:not(:first-child) {
  margin-top: 9px;
}
.link-map {
  color: var(--background-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-link {
  color: var(--footer-contacts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-map,
.footer-contact-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.link-map:hover,
.link-map:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent);
}

.footer-title {
  color: var(--background-primary);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.social {
  margin-left: 70px;
  padding-top: 12px;
}
.social-list {
  display: flex;
  margin-top: 20px;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-social-footer);
  color: var(--background-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent);
  color: var(--background-primary);
}
.social-icon {
  fill: currentColor;
}
.footer-form {
  margin-left: auto;
  padding-top: 12px;
}
.footer-form-item {
  display: flex;
  justify-content: space-between;
}
.footer-form-email {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts);
  letter-spacing: 0.03em;

  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid var(--border-form);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.footer-form-icon {
  margin-left: 10px;
}

/*--------------------SECONDARY BUTTONS-------------------- */

.buttons-list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-item:not(:last-child) {
  margin-right: 8px;
}
.secondary-button {
  color: var(--text-primary);
  background-color: var(--background-section);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  display: inline-block;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--background-primary);
  background-color: var(--accent);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*--------------------PORTFOLIO--------------------*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;

  background-color: var(--portfolio-overlay);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.portfolio-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-primary);
}
.portfolio-text-wraper {
  padding: 19px 23px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio-item-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item-discription {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.9;

  margin-top: 4px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-text-overlay {
  transform: translateY(0);
}

/* --------------------MODAL FORM-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-primary);
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
  transform: scale(1.5) rotate(90deg);
}
.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--modal-icon-border);

  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: currentColor;
}
.button-modal:hover,
.button-modal:focus {
  color: var(--accent);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-bottom: 12px;
}
.input-field {
  margin-bottom: 10px;
}
.modal-input-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-secondary);
  display: block;
  margin-bottom: 4px;
}
.input-group-apsolute {
  position: relative;
}
.modal-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  cursor: pointer;

  border: 1px solid var(--modal-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent);
}
.textarea-field {
  display: flex;
  flex-direction: column;
}
.textarea-field:last-child {
  margin-bottom: 10px;
}
.modal-comment {
  border: 1px solid var(--modal-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
}
.modal-comment:focus {
  border-color: var(--accent);
}
.modal-input::placeholder,
.modal-comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder-text);
}
.modal-icon {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox-field {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-checkbox-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-primary);
  border-radius: 2px;
  fill: transparent;

  margin-right: 8px;
  cursor: pointer;
}
.modal-checkbox-text-primary {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
.modal-checkbox-text-accent {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent);
  text-decoration-skip-ink: none;
}
.modal-check:checked + .modal-checkbox-text .modal-check-icon {
  background-color: var(--accent);
  border: none;
}
.modal-check:checked + .modal-checkbox-text .modal-check-icon {
  fill: var(--background-primary);
}
