.footer-section {
  background-color: var(--background-secondary);

  padding: 60px 0;

  display: flex;
  align-items: center;
}
.footer-section {
  .container {
    display: flex;
  }
}
.footer__title {
  color: var(--background-primary);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
