.secondary-contact-list {
  margin-top: 20px;
  width: 231px;
}
.secondary-contact-list__item:not(:first-child) {
  margin-top: 9px;
}
.secondary-contact-list__map,
.secondary-contact-list__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.secondary-contact-list__map {
  color: var(--background-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover:hover,
  &:focus:focus {
    color: var(--accent);
  }
}
.secondary-contact-list__link {
  color: var(--footer-contacts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

