.header-section {
  border-bottom: 1px solid var(--border-color);
}
.header-items {
  display: flex;
  align-items: center;
}

.header-section .contact-list {
  display: flex;
  margin-left: auto;
}



