.header-section {
  border-bottom: 1px solid var(--border-color);
}
.header-items {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: 93px;
}
.header-contact {
  display: flex;
  margin-left: auto;
}



