.main-title {
  color: var(--background-primary);
  @include font(900, 44px, 1.4, 0.09em);
  
  text-transform: uppercase;
  @include title-margin(30px);
}

.second-title {
  color: var(--text-primary);
  @include font(700, 36px, 1.2, 0.03em);
  
  text-align: center;
@include title-margin(50px);
}

.third-title {
  color: var(--background-primary);
  font-family: inherit;
  font-style: normal;
  @include font(400, 14px, 1.14, 0.03em);
  
  text-transform: uppercase;
@include title-margin(20px);
}